{% extends 'base/base.html' %}

{% block title %}
    在线课堂
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="../../static/css/course/course.css">
{% endblock %}

{% block main %}
    <main id="course-container">
        <div class="w1200">
            <ul class="course-list">
            {% for one_course in courses %}
                <li class="course-item">
                    <a href="{% url 'course:course_detail' one_course.id %}">
                        <img class="course-img" src="{{ one_course.cover_url }}"
                             alt="{{ one_course.title }}">
                        <div class="course-content">
                            <p class="course-info">{{ one_course.title }}</p>
                            <p class="course-author">{{ one_course.teacher.name }}({{ one_course.teacher.positional_title }})</p>
                            <p class="course-price free">免费</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}


<!-- footer start -->
<footer id="footer">
    <div class="footer-box">
        <div class="footer-content">
            <p class="top-content">
					<span class="link">
						<a href="javascript:void(0)">关于Python</a> |
						<a href="javascript:void(0)">我就是我</a> |
						<a href="javascript:void(0)">人生苦短</a> |
						<a href="javascript:void(0)">我用Python</a>
					</span>
                <span class="about-me">关于我: <i class="PyWhich py-wechat"></i> Taka</span>
            </p>
            <p class="bottom-content">
                <span>地址： xxxx</span>
                <span>联系方式: <a href="tel:400-1567-315">400-1567-315</a> (24小时在线)</span>
            </p>
        </div>
        <p class="copyright-desc">
            Copyright &copy; 2008 - 2019 xxx有限公司. All Rights Reserved
        </p>
    </div>
</footer>
<!-- footer end -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="../../static/js/commons.js"></script>
</body>
</html>
